/* The main element of the docment -
 * Focus on coloration and default fonts */
  body {
	background-image: url("../assets/background.jpeg");
    background-color: #FF8100;
    font-family: "Raleway", sans-serif;
  }
  /* The container for all the styling of the document - 
   * primarily the containing element for mobile viewers. */
  .container {
	margin: 2rem auto 1rem auto;
    width: 22rem;
    height: 90%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
  }
  
  h1 {
    position: absolute;
    left: 50%;
    top: -40px;
    width: 300px;
    transform: translateX(-50%);
    background-color: #ff851b;
    color: #fff;
    font-weight: 100;
    font-weight: bolder;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
  }
  
  .wrapper {
    padding: 1.83em;
  }
  
  input,
  select {
    width: 80%;
    border: none;
    border-bottom: 1px solid #0074d9;
    padding: 10px;
  }
  
  input:focus,
  select:focus {
    border: 1px solid #0074d9;
    outline: none;
  }
  
  select {
    width: 88% !important;
  }
  
  button {
    margin: 20px auto;
    width: 150px;
    height: 40px;
    background-color: #39cccc;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
  }
  
  .tip {
    text-align: center;
    font-size: 18px;
  }

  footer {
    font-style: italic;
    color: rgb(226, 212, 212);
  }

  menu {
    background: #ff851b;
    padding: 0.25rem;
    overflow-y: scroll;
    white-space: nowrap;
  }

  span {
    background: #679b33;
    color: #e9e2df;
    display: inline-block;
    margin: 0.25rem;
    padding: 0.5rem;
    ruby-span: none;
    width: fit-content;
  }
h3 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
  'Helvetica Neue', sans-serif;
  font-stretch: unset;
  }

  h2 {
    color: #ff851b;
  }

  img {
    float: right;
    display: block;
    margin: 0 auto;
    max-width: 20%;
  }
  
  .text-centered {
	  margin-left: auto;
	  margin-right: auto;
	  text-align: center;
	  padding: 0 1rem 0 1rem;
	  position: fixed;
	  bottom: 0;
  }
  
  .logo-sun {
	  position: absolute;
	  right: 1rem;
  }
  
  
  /* DESKTOP VERSION - CASHIER */
  
  @media screen and (min-width: 992px) {
	body {
		background-color: #007EFF;
		background-image: url("");
	}
  }
